<header class="banner">
  <figure id="logo"><img id="logoImage" src="../assets/images/chef.jpg" alt="Logo" width="150" height="150"></figure>
  <h1 id="brand_name">South Asian Fusion</h1>
</header>
