<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"/>
	<% include style.ejs %>
  <title>Restaurant</title>
</head>

<body>
<% include header.ejs %>

<% include user-navigation.ejs %>
<div class="container">
	<div class="row">
		<div class="row col-sm-2">
			<% include site-navigation.ejs %>
		</div>
		<div class="row col-sm-9 offset-sm-1">
			<main><p id="maintext">Welcome to our recipe website.<br>
				Try our weekly fresh collection of fusion recipes <bt>  
				and keep record of your experience<br>
			</p></main>
		</div>
</div>

</div>


<% include footer.ejs %>
</body>

</html>
