<aside  class="dropdown">
		<button type="button" class="btn btn-lg btn-outline-secondary  dropdown-toggle " data-toggle="dropdown" id="5b4f95e9a64b5" aria-haspopup="true" aria-expanded="false">
			<i class="fa fa-bars"></i>
		</button>
		<div class="dropdown-menu" aria-labelledby="5b4f95e9a64b5" >
			<div id="sideMenu">
				<a id="homeAside" href="/">Home</a><br>
				<a id="categoryAside" href="/category">Category</a><br>
				<a id="storeAside" >Store</a><br>
				<a id="aboutAside" href="/about">About</a><br>
				<a id="contactUs" href="/contact">Contact Us</a><br>
				<a href="/signOut">Sign Out </a><br>
			</div>
		</div>
</aside>
